@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * ReactMarkdown / SyntaxHighlighter
 */
.react-markdown p:not(:last-child),
.react-markdown pre:not(:last-child) {
    margin-bottom: 1rem;
}

.react-markdown > pre > div > div {
    padding: 0 !important;
    background-color: transparent !important;
}
