@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * ReactMarkdown / SyntaxHighlighter
 */
/* Reset */
.react-markdown > pre > div > div {
    padding: 0 !important;
    background-color: transparent !important;
}

.react-markdown h2 {
    font-size: 1.5rem;
    line-height: 2rem;

    margin-bottom: 1.5rem;
    font-weight: 600;
}

.react-markdown h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;

    margin-bottom: 1.5rem;
    font-weight: 600;
}

.react-markdown h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;

    margin-bottom: 1.5rem;
    font-weight: 600;
}

.react-markdown > ul {
    margin: 1.5rem 0;
}

.react-markdown ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.react-markdown ul ul {
    list-style: circle;
}

.react-markdown li {
    padding-left: 0.25rem;
}

.react-markdown hr {
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    margin: 1.5rem 0;
}

@media (prefers-color-scheme: dark) {
    .react-markdown h2 {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgb(75 85 99 / var(--tw-border-opacity));
    }

    .react-markdown hr {
        border-color: rgb(75 85 99 / var(--tw-border-opacity));
    }
}

.react-markdown p:not(:last-child),
.react-markdown pre:not(:last-child) {
    margin: 1.5rem 0;
}
